.CoverImageSelectorModal-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
}

.CoverImageSelectorModal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 5px;
    text-align: center;
}

.CoverImageSelectorModal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
    padding: 6px;
}

.CoverImageSelectorModal-close{
    background-color: #e4e1dd;
    height: 36px;
    width: 36px;
    padding: 4px;
    border-radius: 50%;
}

.CoverImageSelectorModal-close:hover{
    cursor: pointer;
    background-color:#ccc9c5;
}

hr{
    margin: 0 0 20px 0;
}

.CoverImageSelectorModal-content .ImageGrid {
    width: 550px;
}