
.NewCityForm{
    margin: auto;
    display: block;
    width: 700px;
}

.NewCityForm-header{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
}

.NewCityForm-headerStart{
    display: flex;
    gap: 20px;
}

.NewCityForm-arrowBackIcon{
    cursor: pointer;
}

.NewCityForm-deleteIcon{
    margin-right: 5px;
}

.NewCityForm-deleteButton{
    vertical-align: top;
}


.NewCityForm-form{
    width: 700px;
    margin: 60px 0;
}

.NewCityForm-form > *{
    margin: 30px 0;
}

.NewCityForm-cityInformation > div{
    width: 100%;
}

.NewCityForm-attractions div{
    margin: 5px 5px 5px 0;
}

.NewCityForm-addAttractionBtn{
    margin: 25px 0;
    cursor: pointer;
    color: var(--dark-grey);
}

.NewCityForm-saveButton{
    text-align: center;
}




