
.NewCityForm{
    margin: auto;
    display: block;
    width: 600px;
}

.NewCityForm-title{
    color: var(--light-green);
    font-weight: 700;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.NewCityForm-form{
    width: 700px;
}

.NewCityForm-form > *{
    margin: 30px 0;
}

.NewCityForm-cityInformation > div{
    width: 100%;
}
.NewCityForm-attractions div{
    margin: 5px;
}

.NewCityForm-addAttractionBtn{
    margin: 25px 0;
    cursor: pointer;
    color: var(--dark-grey);
}

.NewCityForm-saveButton{
    width: 150px;
    margin: auto;
}