.NewEditTripPage{
    margin: auto;
    display: block;
    width: 600px;
}

.NewEditTripPage-header{
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
}

.NewEditTripPage-headerStart{
    display: flex;
    gap: 20px;
}

.NewEditTripPage-arrowBackIcon{
    cursor: pointer;
}


.NewEditTripPage-deleteIcon{
    margin-right: 5px;
}

.NewEditTripPage-form{
    width: 100%;
}

.NewEditTripPage-form > *{
    margin: 30px 0;
}

.NewEditTripPage-start, .NewEditTripPage-end{
    color: rgba(0, 0, 0, 0.87);
    background-color: var(--beige);
    padding: 14px;
    margin-right: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 16px;
}

.NewEditTripPage-start:hover, .NewEditTripPage-end:hover{
    border-color: rgba(0, 0, 0, 0.87);
}

.NewEditTripPage-start:focus-visible, .NewEditTripPage-end:focus-visible{
    outline-color: rgb(25, 118, 210);
}


.NewEditTripPage-countrySelector{
    width: 300px;
}

.NewEditTripPage-typeSelector{
    width: 200px;
}

.NewEditTripPage-countryInformation > div, .NewEditTripPage-experience > div{
    width: 100%;
}

.NewEditTripPage-saveButton{
    width: 70px;
    margin: auto;
}