.NewTripForm{
    margin: auto;
    display: block;
    width: 500px;
}

.NewTripForm-title{
    color: var(--light-green);
    font-weight: 700;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.NewTripForm-dates{
    margin: 30px;
}

.NewTripForm-start, .NewTripForm-end{
    color: rgba(0, 0, 0, 0.87);
    background-color: var(--beige);
    padding: 14px;
    margin-right: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 16px;
}

.NewTripForm-countrySelector{
    margin: 30px;
    width: 300px;
}

.NewTripForm-countryInformation{
    margin: 30px;
    width: 600px;
}

.NewTripForm-start:hover, .NewTripForm-end:hover{
    border-color: rgba(0, 0, 0, 0.87);
}

.NewTripForm-experience{
    margin: 30px;
    width: 400px;
}

.NewTripForm-saveButton{
    width: 150px;
    margin: auto;
}