.NewTripForm{
    margin: auto;
    display: block;
    width: 500px;
}

.NewTripForm-title{
    color: var(--light-green);
    font-weight: 700;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.NewTripForm-countrySelector{
    margin: 30px;
    width: 300px;
}

.NewTripForm-countryInformation{
    margin: 30px;
    width: 600px;
}

.NewTripForm-experience{
    margin: 30px;
    width: 400px;
}

.NewTripForm-saveButton{
    width: 150px;
    margin: auto;
}