.NewTripForm{
    margin: auto;
    display: block;
    width: 500px;
}

.NewTripForm-title{
    color: var(--light-green);
    font-weight: 700;
    font-size: 32px;
    margin: 30px auto;
    text-align: center;
}

.NewTripForm-form{
    width: 600px;
}

.NewTripForm-form > *{
    margin: 30px 0;
}

.NewTripForm-start, .NewTripForm-end{
    color: rgba(0, 0, 0, 0.87);
    background-color: var(--beige);
    padding: 14px;
    margin-right: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 16px;
}

.NewTripForm-start:hover, .NewTripForm-end:hover{
    border-color: rgba(0, 0, 0, 0.87);
}

.NewTripForm-start:focus-visible, .NewTripForm-end:focus-visible{
    outline-color: rgb(25, 118, 210);
}


.NewTripForm-countrySelector{
    width: 300px;
}

.NewTripForm-typeSelector{
    width: 200px;
}

.NewTripForm-countryInformation > div, .NewTripForm-experience > div{
    width: 100%;
}

.NewTripForm-saveButton{
    width: 150px;
    margin: auto;
}