.MuiSelect-iconOutlined {
    color: var(--dark-grey);
  }
  
.MuiSelect-select {
    color: var(--dark-grey);
  }
  
.MultiSelect-label {
    color: var(--dark-grey);
  } 

.MuiPaper-root{
    color: var(--dark-grey);
  }

 
  
  