
.tooltip{
    position: absolute;
    z-index: 100;
    background-color:var(--dark-grey);
    border-radius: 5px;
    box-shadow:  1px 1px 1px var(--dark-grey);
    padding: 5px;
    margin: 4px;
    top: 55px;
    left: 2px;
    font-size: 12px;
    display: none;
    font-weight: 400;
    white-space: nowrap;
}