/*92C7CF, AAD7D9, FBF9F1, E5E1DA*/

:root{
  --beige: #f1efea;
  --light-grey: #e4e1dd;
  --dark-grey: #a19f9b;
  --light-green: #AAD7D9;
  --dark-green: #76b4be;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Roboto';
}

html, body, #root{
  background-color: var(--beige);
  height: 100%;
}

.Root{
  height: 100%;
}

.Root-outlet{
  height: calc(100% - 65px);
}


