/*92C7CF, AAD7D9, FBF9F1, E5E1DA*/

:root{
  --beige: #f1efea;
  --light-grey: #e4e1dd;
  --dark-grey: #a19f9b;
  --light-green: #AAD7D9;
  --dark-green: #92C7CF;
}

*{
  margin:0;
  padding:0;
  box-sizing:content-box;
  font-family: 'Roboto';
}
body{
  background-color: var(--beige);
}
