
.NewEditCityForm{
    margin: auto;
    display: block;
    width: 700px;
}

.NewEditCityForm-header{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
}

.NewEditCityForm-headerStart{
    display: flex;
    gap: 20px;
}

.NewEditCityForm-arrowBackIcon{
    cursor: pointer;
}

.NewEditCityForm-title{
    cursor: pointer;
}

.NewEditCityForm-deleteIcon{
    margin-right: 5px;
}

.NewEditCityForm-deleteButton{
    vertical-align: top;
}


.NewEditCityForm-form{
    width: 700px;
    margin: 60px 0;
}

.NewEditCityForm-form > *{
    margin: 30px 0;
}

.NewEditCityForm-cityInformation > div{
    width: 100%;
}

.NewEditCityForm-attractions div{
    margin: 5px 5px 5px 0;
}

.NewEditCityForm-addAttractionIcon{
    vertical-align: top;
    cursor: pointer;
    color: var(--dark-grey);
}

.NewEditCityForm-saveButton{
    text-align: center;
}




