.TourCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--dark-grey);
    width: calc(50% - 50px);
    height: 150px;
    margin: 5px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    overflow: hidden;
}

.TourCard:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px var(--dark-grey);
}

.TourCard img{
    height: 150px;
    overflow: hidden;
}

.TourCard-info{
    display:flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-grey);
}

.TourCard-name{
    font-weight: bold;
}

.TourCard-name:hover{
    text-decoration: underline;

}

.TourCard-details{
    padding: 20px;
}

.TourCard-next{
    cursor: pointer;
}
.TourCard-next:hover{
    background-color: #E5E1DA;
    padding: 3px;
    border-radius: 50%;
}