.NewEditTripForm{
    margin: auto;
    display: block;
    width: 600px;
}

.NewEditTripForm-header{
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
}

.NewEditTripForm-headerStart{
    display: flex;
    gap: 20px;
}

.NewEditTripForm-arrowBackIcon{
    cursor: pointer;
}


.NewEditTripForm-deleteIcon{
    margin-right: 5px;
}

.NewEditTripForm-form{
    width: 100%;
}

.NewEditTripForm-form > *{
    margin: 30px 0;
}

.NewEditTripForm-start, .NewEditTripForm-end{
    color: rgba(0, 0, 0, 0.87);
    background-color: var(--beige);
    padding: 14px;
    margin-right: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 16px;
}

.NewEditTripForm-start:hover, .NewEditTripForm-end:hover{
    border-color: rgba(0, 0, 0, 0.87);
}

.NewEditTripForm-start:focus-visible, .NewEditTripForm-end:focus-visible{
    outline-color: rgb(25, 118, 210);
}


.NewEditTripForm-countrySelector{
    width: 300px;
}

.NewEditTripForm-typeSelector{
    width: 200px;
}

.NewEditTripForm-countryInformation > div, .NewEditTripForm-experience > div{
    width: 100%;
}

.NewEditTripForm-saveButton{
    width: 150px;
    margin: auto;
}