.Tours-title{
    color: #AAD7D9;
    font-weight: 700;
    font-size: 32px;
    margin: 20px auto;
    text-align: center;
}

.Tours-container{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
}