.ImageGrid{
    width: 320px;
    height: 450px;
    flex-shrink: 0;
}

.ImageGrid-coverSelection{
    width: 560px;
}

.ImageGrid-plusBtn{
    cursor: pointer;
    font-size: 30px;
    height: 164px;
    border: 1px solid var(--light-grey);
    background: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageGrid-selectable img:hover {
    filter: brightness(1.2);
}