.ImageGrid{
    width: 600px;
    flex-shrink: 0;
}

.ImageGrid-coverSelection{
    width: 560px;
}

.ImageGrid-image{
    position: relative;
}
.ImageGrid-image:hover{
    filter: brightness(1.1)
}


.ImageGrid-plusBtn{
    cursor: pointer;
    font-size: 30px;
    height: 164px;
    border: 1px solid var(--light-grey);
    background: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

