.ImageGrid{
    width: 600px;
    min-height: 450px;
    flex-shrink: 0;
}

.ImageGrid-coverSelection{
    width: 560px;
}

.ImageGrid-selectable img:hover {
    filter: brightness(1.2);
}

.ImageGrid-image{
    position: relative;
    transition: transform .2s ease-in-out;
    overflow: hidden;
}
.ImageGrid-image:hover{
    transform: scale(1.01);
}


.ImageGrid-plusBtn{
    cursor: pointer;
    font-size: 30px;
    height: 164px;
    border: 1px solid var(--light-grey);
    background: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

