.DeleteConfirmationModal-confirmation{
    font-size: 16px;
    font-weight: 400;
}

hr{
    margin: 20px 0;
}

.DeleteConfirmationModal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}