.FileUploadModal-selectorContainer {
    border: 1px dashed var(--light-grey);
    border-radius: 4px;
    padding: 50px;
    position: relative;
    color: var(--dark-grey);
    height: 200px;
    text-align: center;
}

.FileUploadModal-selector{
    padding: 5px;
}

.FileUploadModal-selector-selected{
    display: none;
}

.FileUploadModal-selectorContainer:hover > .FileUploadModal-selector-selected{
    display: block;
    background-color:rgba(255, 255, 255, 0.8);
}

.FileUploadModal-selector-title {
    font-size: 16px;
    margin: 5px;
}

.FileUploadModal-selector-size {
    font-size: 12px;
    color: var(--light-grey);
}

.FileUploadModal-selectorContainer input {
    opacity:0;
    height: 100%;
     width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.FileUploadModal-icon {
    width: 40px;
    height: 40px;
}

.FileUploadModal-preview {
    width: 100%;
    margin: 10px 0;
}

.FileUploadModal-title {
    margin: 20px auto;
    display: block;
    width: 250px;
}

.FileUploadModal-saveButton {
    width: 160px;
    margin: auto;
}