.CityDetails{
    flex-grow: 1;
    min-width: 300px;
}


.CityDetails-attractions{
    display: flex;
    gap: 10px;
}

.CityDetails-attraction{
    background-color: var(--light-grey);
    border-radius: 16px;
    padding: 0 12px;
}