.TripCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--dark-grey);
    width: calc(40% - 50px);
    height: 150px;
    margin: 25px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    overflow: hidden;
}

.TripCard:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px var(--dark-grey);
}

.TripCard-img-placeholder{
    background-image: linear-gradient(white, var(--light-grey));
    width: 240px;
    height: 150px;
}

.TripCard img{
    height: 150px;
    width: 240px;
    overflow: hidden;
}

.TripCard-info{
    display:flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-grey);
}

.TripCard-name{
    font-weight: bold;
}

.TripCard-name:hover{
    text-decoration: underline;

}

.TripCard-details{
    padding: 20px;
}

.TripCard-next{
    cursor: pointer;
}
.TripCard-next:hover{
    background-color: #E5E1DA;
    padding: 3px;
    border-radius: 50%;
}

.TripCard-deleteIcon{
    align-self: flex-end; 
    margin: 5px;
}