.TripCard{
    color:var(--dark-grey);
    width: 400px;
    max-width: 100%;
    height: 150px;
    margin: 25px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    overflow: hidden;
}

.TripCard:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px var(--dark-grey);
}

.TripCard-link{
    height: 100%;
    display:flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-grey);
}

.TripCard-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.TripCard-img-placeholder{
    background-image: linear-gradient(white, var(--light-grey));
}

.TripCard-details{
    width: 50%;
    padding: 20px;
    position: relative;
}

.TripCard-name{
    font-weight: bold;
}

.TripCard-name:hover{
    text-decoration: underline;

}

.TripCard-deleteIcon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}