.ProfilePage{
    width: 100vw;
    height: 100vh;
}
.ProfilePage-card{
    margin: 100px auto;
    width: 50%;
    display: flex;
    gap: 20px;  
}

.ProfilePage-ProfileImage{
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.ProfilePage-details{
    width: 100%;
}

.ProfilePage-title{
    display: flex;
    justify-content: space-between;
    
}
.ProfilePage-name{
    font-size: 20px;
    margin: 5px 0;
}

.ProfilePage-edit-icon-container{
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.ProfilePage-edit-icon-container:hover{
    background-color: var(--light-grey)
}

.ProfilePage-icon{
    vertical-align: middle;
    padding-right: 3px;
}

.ProfilePage-location{
    margin: 5px 0;
}

