.GalleryPage{
    height: calc(100vh - 65px);
    width: 100vw;
    overflow: hidden;
}

.GalleryPage-selectedImage{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.GalleryPage-fixedLayout{
    position: fixed;
    top: 65px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 80px);
}

.GalleryPage-header{
    padding: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    background-image: linear-gradient(var(--dark-green), #f1efea00);
}

.GalleryPage-country{
    margin: 5px 0;
}

.GalleryPage-closeBtn{
    cursor: pointer;
}


.GalleryPage-buttons{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.GalleryPage-buttons div{
    cursor: pointer;
}

.GalleryPage-pager{
    background-color: #f1efea57;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    color: white;
}