.Tour{
    display: flex;
    flex-direction: column;
    color: var(--dark-grey);
}

.Tour-img-container{
    height: 50vh;
    width: 100%;
    position: relative;
    font-size: 24px;
}

.Tour-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Tour-title{
    background-color: white;
    padding: 3px;
    position: absolute;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: san-serif;
}

.Tour-title-border{
    border: 3px solid var(--light-grey); 
    padding: 35px 15px;
}

.Tour-info{
    display: flex;
    padding: 40px 200px;
}

.Tour-visitedCities-title{
    font-weight: 100;
    padding: 10px;
    font-size: 24px;
}

.Tour-visitedCity{
    background-color: var(--light-grey);
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.Tour-details{
    margin: 0 100px;
}


.Tour-time-container{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.Tour-start, .Tour-end, .Tour-climate, .Tour-country{
    background-color: white;
}

.Tour-start-border{
    border: 3px solid var(--light-grey); 
    border-radius: 10% 30%;
    margin: 5px;
}

.Tour-end-border{
    border: 3px solid var(--light-grey); 
    border-radius: 30% 10%;
    margin: 5px;
}

.Tour-climate-border, .Tour-country-border{
    border: 3px solid var(--light-grey); 
    margin: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
}






