.Tour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#92C7CF;
    width: calc(50% - 50px);
    margin: 5px;
    border: 1px solid #AAD7D9;
    border-radius: 5px;
}

.Tour img{
    width: 100px;
}

.Tour-info{
    display:flex;
    padding: 10px;
    cursor: pointer;
}

.Tour-name{
    font-weight: bold;
}

.Tour-name:hover{
    text-decoration: underline;

}

.Tour-details{
    padding: 20px;
}

.Tour-next{
    cursor: pointer;
}
.Tour-next:hover{
    background-color: #E5E1DA;
    padding: 3px;
    border-radius: 50%;
}