.Tour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#92C7CF;
    width: calc(50% - 50px);
    margin: 5px;
    border: 1px solid #AAD7D9;
    border-radius: 5px;
}

.Tour img{
    width: 100px;
}

.Tour-info{
    display:flex;
    padding: 10px;
}

.Tour-details{
    padding: 20px;
}