
.NewEditCityPage{
    margin: auto;
    display: block;
    width: 700px;
}

.NewEditCityPage-header{
    display: flex;
    justify-content: space-between;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
}

.NewEditCityPage-headerStart{
    display: flex;
    gap: 20px;
}

.NewEditCityPage-arrowBackIcon{
    cursor: pointer;
}

.NewEditCityPage-title{
    cursor: pointer;
}

.NewEditCityPage-deleteIcon{
    margin-right: 5px;
}

.NewEditCityPage-deleteButton{
    vertical-align: top;
}


.NewEditCityPage-form{
    width: 700px;
    margin: 60px 0;
}

.NewEditCityPage-alreadyExist{
    color: rgb(240, 93, 93);
}

.NewEditCityPage-form > *{
    margin: 30px 0;
}

.NewEditCityPage-cityInformation > div{
    width: 100%;
}

.NewEditCityPage-saveButton{
    text-align: center;
}




