.Header{
    background-color: var(--dark-green);
    padding: 10px 60px 5px 60px;
    font-weight: 700;
    color: var(--beige);
    display: flex;
    justify-content: space-between;
}
.Header-title{
    font-size: 36px;
    cursor: pointer;
}

.Header-icons{
    display: flex;
    gap: 10px;
}

.Header-icon-container{
    color: white;
    position: relative; 
    width: 50px;
    height: 50px;
    padding: 13px;
}


.Header-icon-container:hover{
    background-color: var(--light-green);
    border-radius: 50%;
    cursor: pointer;
}

.Header-icon-container:hover .tooltip{
    display: block;
}
