.Header{
    background-color: #92C7CF;
    padding: 10px 60px 5px 60px;
    font-weight: 700;
    color: #FBF9F1;
    display: flex;
    justify-content: space-between;
}
.Header-title{
    font-size: 36px;
    cursor: pointer;
}
.Header-icon{
    padding: 10px 20px;
    cursor: pointer;
}
.Header-icons{
    display: flex;
}

.Header-icon-container{
    position: relative;
}


.Header-icon:hover{
    background-color:#aad7d974;
    border-radius: 5px;
}

.Header-icon-tooltip{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    box-shadow:  1px 1px 1px grey;
    padding: 5px;
    margin: 4px;
    top: 50px;
    left: 2px;
    font-size: 12px;
    display: none;
}

.Header-icon-container:hover .Header-icon-tooltip{
    display: block;
}
