.EditProfilePage{
    margin: auto;
    display: block;
    width: 400px;
}

.EditProfilePage-header{
    display: flex;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 32px;
    margin: 50px auto;
    gap: 30px;
}

.EditProfilePage-arrowBackIcon{
    cursor: pointer;
}

.EditProfilePage-form > *{
    margin: 30px 0;
}

.EditProfilePage-locationSelector{
    width: 300px;
}

.EditProfilePage-typeSelector{
    width: 200px;
}

.EditProfilePage-saveButton{
    width: 30px;
    margin: auto;
    margin-top: 30px;
}

