.Trip{
    display: flex;
    flex-direction: column;
    color: var(--dark-grey);
}

.Trip-img-container{
    height: 50vh;
    width: 100%;
    position: relative;
    font-size: 24px;
}

.Trip-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Trip-title{
    background-color: white;
    padding: 3px;
    position: absolute;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: san-serif;
}

.Trip-title-border{
    border: 3px solid var(--light-grey); 
    padding: 35px 15px;
}

.Trip-info{
    display: flex;
    gap: 50px;
    padding: 40px 100px;
}

.Trip-visitedCities-title{
    font-weight: 100;
    padding: 10px;
    font-size: 24px;
}

.Trip-visitedCity{
    background-color: var(--light-grey);
    color: var(--dark-grey);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 150px;
}

.Trip-date{
    display: flex;
    gap: 20px;
    padding: 10px;
    /* background-color: white; */
    margin: 5px;
    width: 70%;
}

.Trip-details-arrow:hover {
    cursor: pointer;
    background-color: var(--light-grey);
    border-radius: 50%;
}

.Trip-climate, .Trip-country {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
    margin: 5px;
}







