.Trip{
    display: flex;
    flex-direction: column;
    color: var(--dark-grey);
}

.Trip-img-container{
    height: 50vh;
    width: 100%;
    position: relative;
    font-size: 24px;
}

.Trip-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Trip-edit-coverImage{
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: white;
    color: var(--dark-grey);
    border-radius: 10px;
    padding: 8px;
}

.Trip-edit-coverImage:hover{
    background-color: var(--light-grey);
    cursor: pointer;
}

.Trip-edit-icon-container{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: var(--dark-green);
    color: white;
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;
}

.Trip-edit-icon-container:hover{
    background-color: var(--light-green);
}

.Trip-edit-icon-container:hover .tooltip{
    display: block;
}

.Trip-title{
    background-color: white;
    padding: 3px;
    position: absolute;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: san-serif;
}

.Trip-title-border{
    border: 3px solid var(--light-grey); 
    padding: 35px 15px 5px 15px;
}

.Trip-date{
    font-size: 16px;
    white-space: nowrap;
    padding: 20px 0 10px 0;
}

.Trip-info{
    display: flex;
    gap: 50px;
    padding: 40px 100px;
}

.Trip-visitedCities-title{
    font-weight: 100;
    margin: 15px 0;
    font-size: 24px;
}

.Trip-visitedCities{
    margin: 20px 0;
}

.Trip-visitedCity{
    background-color: var(--light-grey);
    color: var(--dark-grey);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 150px;
}



.Trip-details-arrow:hover {
    cursor: pointer;
    background-color: var(--light-grey);
    border-radius: 50%;
}

.Trip-climate, .Trip-country {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
    margin: 5px;
}






